@tailwind base;
@tailwind components;
@tailwind utilities;

/* Date Range Styles */
.rdrDayToday:not(.rdrDayPassive) .rdrInRange~.rdrDayNumber span::after,
.rdrDayToday:not(.rdrDayPassive) .rdrStartEdge~.rdrDayNumber span::after,
.rdrDayToday:not(.rdrDayPassive) .rdrEndEdge~.rdrDayNumber span::after,
.rdrDayToday:not(.rdrDayPassive) .rdrSelected~.rdrDayNumber span::after {
  background-color: #fff !important;
}

.rdrDayToday .rdrDayNumber span:after {
  background: #ed1d24 !important;
}

.rdrMonthAndYearPickers {
  font-size: 16px;
}

.rdrDayNumber .rdrWeekDay {
  color: #1e1f23 !important;
  font-weight: 500 !important;
}

/* Swiper Styles */
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: #f13024;
}

@layer base {

  body {
    @apply text-primary bg-body;
  }

  p {
    @apply text-secondary;
  }

  .h1 {
    @apply text-4xl xl:text-[64px] text-primary xl:leading-[72px] font-extrabold mb-[18px];
  }

  .h2 {
    @apply text-4xl mb-6 font-bold;
  }

  .h3 {
    @apply text-xl mb-4 font-semibold;
  }

  .description {
    @apply text-base xl:text-xl xl:leading-8;
  }

  .section {
    @apply w-full h-screen pt-[60px] xl:pt-[120px];
  }

  .btn {
    @apply rounded-[10px] w-full uppercase font-medium text-white tracking-[2px] text-[13px] flex justify-center items-center transition-all duration-300;
  }

  .btn-sm {
    @apply h-14;
  }

  .btn-lg {
    @apply h-16;
  }

  .btn-cta {
    @apply bg-primary h-[54px] rounded-[5px] px-4 transition-all duration-300;
  }

  .btn-primary {
    @apply bg-primary;
  }

  .btn-secondary {
    @apply bg-secondary;
  }

  .btn-accent {
    @apply bg-accent hover:bg-accent-hover;
  }

  .active {
    @apply text-accent;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes float-reverse {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-slow-reverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

@keyframes spin-circle {
  0% {
    transform: rotate(0deg) translateX(150px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(150px) rotate(-360deg);
  }
}

.animate-spin-circle {
  animation: spin-circle 20s linear infinite;
}

.animate-spin-slow {
  animation: spin-slow 12s linear infinite;
}

.animate-spin-slow-reverse {
  animation: spin-slow-reverse 12s linear infinite;
}

.animate-flip {
  animation: flip 8s linear infinite;
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

.animate-float-reverse {
  animation: float-reverse 4s ease-in-out infinite;
}
